.login form {
    /* border: 1px solid black; */
    border-radius: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    max-width: 700px;
    margin: 5rem auto;
    max-height: 80%;
    border: 1px solid #7190E4;
    background-color: white;
    padding: 2rem 0.8rem;
    /* box-shadow: 0 0 3px 4px blue; */
}

.login p.form-name {
    padding: 0 0 1rem 0;
    font-size: 1.2rem;
    color: navy;
    margin: 0;
}

.form-rows {
    display: flex;
    flex-direction: row;
    height: 1.8rem;
    width: 70%;
    padding: 0.5rem 0 0 0;
    /* justify-content: space-between; */
}

label {
    color: navy;
    width: 100px;
    font-weight: 500;
    text-align: right;
    padding: 0 0.5rem 0 0;
    /* justify-content: center; */
    /* justify-content: space-between; */
}

input {
    width: 100%;
    margin: 0.2rem 0;
    max-width: 700px;
    border: 1px solid 7190E4;
    /* background-color: ; */
}

.submit-button {
    /* display: flex; */
    /* width: 100% */
    /* justify-content: center; */
    margin: 1rem auto 1rem auto;
    height: 2rem;
    /* height: 2rem; */
    /* height: 50%; */
    padding: 0.2rem 0.7rem;
    border: 1px solid #1A1C6F;
    align-items: center;
    width: 4rem;
    border-radius: 5px;
    font-weight: 500;
    background-color: whitesmoke;
    color: #1A1C6F;

}

.submit-button:hover {
    color: white;
    /* border: 1.5px solid yellow; */
    border-radius: 5px;
    /* font-weight: 600; */
    background-color: #1A1C6F;
    border: 1px solid #1A1C6F;
    /* opacity: 80%; */

}